In [33]:
import pandas as pd
import numpy as np
from pathlib import Path

training_data_path = Path('.') / 'training_data' 
get_sensor_data = lambda x: training_data_path / 'respondent{}_sensor_data.csv'.format(x)
get_label = lambda x: training_data_path /'respondent{}_label.csv'.format(x)

get_sensor_data(1), get_label(1)

(WindowsPath('training_data/respondent1_sensor_data.csv'),
 WindowsPath('training_data/respondent1_label.csv'))

In [34]:
num_respondents = 3
data_dict = {}
label_dict = {}
for num in range(1, num_respondents+1):
    data_dict['respondent_{}'.format(num)]  = pd.read_csv(get_sensor_data(num), index_col=[0,1])
    label_dict['respondent_{}'.format(num)] = pd.read_csv(get_label(num), index_col=[0])

In [35]:
sensor_data = pd.concat(data_dict)
display(sensor_data.head())

labels = pd.concat(label_dict)
display(labels.head(10))

                           POz (Raw)   Fz (Raw)   Cz (Raw)  C3 (Raw)  \
respondent_1 Stimulus_3 0  -2.176072  -3.730452  -6.648115  7.906390
                        1 -17.308790 -19.317900 -24.012070 -3.379530
                        2 -17.308790 -19.317900 -24.012070 -3.379530
                        3 -17.308790 -19.317900 -24.012070 -3.379530
                        4 -16.074980 -19.023580 -28.106670  2.857648

                            C4 (Raw)  F3 (Raw)   F4 (Raw)  P3 (Raw)   P4 (Raw)
respondent_1 Stimulus_3 0   7.838735  27.81043  -1.944833  4.576408  -0.719508
                        1  -9.873293  12.86720 -18.772840  0.447505 -16.476750
                        2  -9.873293  12.86720 -18.772840  0.447505 -16.476750
                        3  -9.873293  12.86720 -18.772840  0.447505 -16.476750
                        4 -27.548620  17.50465 -29.356010 -0.545797  -4.480889

                          labels
respondent_1 Stimulus_3      4.0
             Stimulus_7      2.0
             Stimulus_2      3.0
             Stimulus_15     1.0
             Stimulus_9      2.0
             Stimulus_16     2.0
respondent_2 Stimulus_1      3.0
             Stimulus_6      5.0
             Stimulus_10     2.0
             Stimulus_14     3.0

In [36]:
display(sensor_data.xs(['Stimulus_10', 'respondent_3'], level=[1,0]))
display(labels.xs(['Stimulus_10', 'respondent_3'], level=[1,0]))

,POz (Raw),Fz (Raw),Cz (Raw),C3 (Raw),C4 (Raw),F3 (Raw),F4 (Raw),P3 (Raw),P4 (Raw)
0,19.086740,34.007800,28.910120,15.853570,25.747720,15.303300,25.809390,18.122530,25.30172
1,20.043350,35.166930,29.531820,6.753909,17.856250,13.455060,25.921780,5.402813,12.82669
2,17.516690,39.543990,29.967100,5.592493,19.294130,17.759670,37.488590,2.703542,14.21454
3,15.422740,38.692920,28.594610,17.278990,21.663520,22.286800,39.442600,15.185820,28.31074
4,15.422740,38.692920,28.594610,17.278990,21.663520,22.286800,39.442600,15.185820,28.31074
...,...,...,...,...,...,...,...,...,...
69201,-3.265869,-4.669059,11.014500,-2.910357,3.436095,-13.324270,1.467624,-14.222290,11.93961
69202,-4.215576,-8.296134,8.276417,6.054933,13.941720,-21.210260,6.642363,-1.379190,22.45970
69203,-4.215576,-8.296134,8.276417,6.054933,13.941720,-21.210260,6.642363,-1.379190,22.45970
69204,-1.874336,-7.309459,11.072100,15.997010,27.345580,-17.778110,5.543503,6.398723,24.88792
69205,1.997855,-1.081028,17.621450,19.950060,31.068200,-6.147849,7.474620,2.130556,16.80974

                          labels
respondent_3 Stimulus_10     2.0